<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" >
    <a href="/frontend/pages/dashboard.html" class="d-flex align-items-center mb-3 text-white text-decoration-none">
        <span class="fs-4 fw-bold">Dinamik Form</span>
    </a>
    <hr>
    <ul id="sidebar-menu-container" class="nav nav-pills flex-column mb-auto">
        <div class="text-center mt-4 text-secondary" id="sidebar-loading">
            <div class="spinner-border spinner-border-sm" role="status"></div>
            <div class="mt-2" style="font-size: 0.85rem;">Menüler yükleniyor...</div>
        </div>
    </ul>
</div>